# OS
Thumbs.db
.DS_Store

# Editors
.vs/
.vscode/
.idea/
.fleet/
.zed/

# Rust
target/
gen/

# Javascript
playwright-report/
test-results/
node_modules/
*.tsbuildinfo

# Javascript: Vite
.vite/
vite-env.d.ts

# Javascript: Nuxt
.nuxt/
.output/

# Generated
*.backup
coverage/
openapi/

# Output

dist/
build/
output/

# Environment
.env*
!.env.example

# Logs
logs/
*.log
*.log*

# Other
.ignore*/
LLM.md
