# OS
Thumbs.db
.DS_Store

# Editors
.vs/
.vscode/
.idea/
.fleet/
.zed/

# Javascript
.vite/
.astro/
playwright-report/
test-results/
node_modules/

# Generated
*.pem
*.backup
coverage/

# Output
dist/
build/
output/

# Environment
.env*
!.env.example

# Logs
logs/
*.log
*.log*

# Other
.ignore*/
LLM.md
