# OS
Thumbs.db
.DS_Store

# Editors
.vs/
.vscode/
.idea/
.fleet/
.zed/

# Rust
target/
gen/

# Javascript
.vite/
.nuxt/
playwright-report/
test-results/
node_modules/

# Generated
*.backup
coverage/
openapi/
src/generated/
docs/

# Output
dist/
build/
output/

# Environment
.env*
!.env.example

# Logs
logs/
*.log
*.log*

# Other
.ignore*/
LLM.md
